@{
    ViewBag.Title = "About";
}
<center><h2>So what are we about?</h2></center>
<text>
    <center><br />
        <p>
            More than 6.4 million children suffer from ADHD or ADD every year,
            approximetly 11% of the United States population. Every year, this
            number increases, and only around 1/3 of all children over the age of
            6 actually take any form of medication for this.
        </p>
        <p>
            Our project incorporates a way to tackle some of the difficulties and
            strains that this very common disorder puts on families.
            With this project, we strive to Help Other People (Parents, as well as
            children suffering from ADD) Easily by creating a fun and rewarding way
            for children to do chores.</p>
        <br /><p>
            When children are told to do chores, there are many excuses they might
            give for why they can’t do them.
        </p>
        <i>
            <p><q>I didn’t hear you</q></p>
            <p>“I forgot”</p>
            <p>“I don’t want to”</p>
            <p>“I will do it later”</p>
            <p>“I already did enough chores for today”</p>
            <p>“What’s in it for me?”</p>
        </i><br />
        <p>
            Parents are also frustrated and go from pleading to threats, because of
            many reasons.<br />
        </p>
        <i><p>“I told you five times”</p>
        <p>“Why are you disobeying me?”</p>
        <p>“Do you want to eat tonight?”</p></i>
    <h3>So how does it work?</h3>
        <p>
            We are able to improve the strained relationships between Parents and
            Children with our application, ADDicting Chores. Through the website /
            Android application, parents will be able to create chores and rewards.
            Each child would login and do chores that are available, or ones that
            are assigned to them, and earn “Chore Credits” (CC). They would use their
            CC to purchase rewards found in the reward library.</p>

            <p>The chore library would be created by the parent, so a 16 year old would
            be able to earn cash, and a 6 year old would be able to earn some video game time. 
        Because the parents are creating the chores and rewards, it is truly created to work best with their child. Chores would have start and end times, so there is no arguing about when the chores are supposed to be done. Parents no longer have to get after their kids to do chores, because the kids will want to do chores for the rewards. Chores will have five maturity levels: toddler, child, teen, young adult, and adult. Parents don’t have to worry about their toddler mowing the lawn, or their teen picking up toys. Chores can be assigned to a particular child, or open to anyone who meets the set maturity level.
            Children will have three types of CC: Bronze, Silver, and Gold.</p><p> A <strong>bronze</strong>
            level chore are easy and designed for toddlers and children. </p><p><strong>Silver</strong> level
            chores are for children and teens.</p><p> <strong>Gold</strong> level chores are for teens,
            young adults, and adults. </p><p> A child could use 200 bronze CC to purchase
            one hour of time on the computer, while a teen could use 4000 gold CC to
            purchase a Playstation 4 or Xbox One. Because of high ticket items in the
            rewards library, children are encouraged to save up their CC by doing many
            chores, even those chores not assigned to them, to purchase an expensive
            reward.
        </p>
          </center>
</text>
