@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Contact Us</h2>
    @*<h3>@ViewBag.Message</h3>*@

    @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@
    <h4>Want to contact the team that built this application?</h4>
    <address>
        <strong>Viktoriya Kozmina :</strong>   <a href="mailto:viktoriya.kozmina@gmail.com" target="_blank">E-mail</a><br />
        <strong>Francis Schommer :</strong> <a href="mailto:francisschommer@gmail.com" target="_blank">E-mail</a><br />
        <strong>Nikhil Rathi :</strong> <a href="mailto:contact@nikhilrathi.com" target="_blank">E-mail</a><br />
        <strong>Nathan Barnfield :</strong> <a href="mailto:Nathan.L.Barnfield@gmail.com" target="_blank">E-mail</a><br />
        <strong>Patrick Connor Hale :</strong> <a href="mailto:pchunter7@gmail.com" target="_blank">E-mail</a><br />
        <strong>Cody Cornelius :</strong> <a href="mailto:CodyCornelius36@gmail.comm" target="_blank">E-mail</a><br />

    </address>
</div>