@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Documents</h2>
    
    <h4>Here are our documents</h4>
    <div>
        <a href="https://docs.google.com/document/d/1KLfcLzaaDJJy7UaE94qWnpOW62ZkceoieOqufJeeUkQ/edit?usp=sharing" target="_blank">Interim Report I </a><br />
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vQIyv-D6BX8kFaz_qhaM49AoUXAUEJPNcrep5OY-VMwChCK5Ahz7mqOJyCo1sFprrQQL0NV8SSzEH3Q/pub?embedded=true"
                width="800" height="800">
        </iframe>
        <br /><br />
        <a href="https://docs.google.com/document/d/1bq72LcBkUap0lAiID8A3LEm3H4ApIhCilSbmHMY-qtE/edit?usp=sharing" target="_blank">WRS </a><br/>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSOME0rO-lU0FJAwHmKurt-ElFdQcFRLxAz27p3m6W2BWKvnzgImOMzO05vyNVjWkUkMj_Ftj-b4jvM/pub?embedded=true"
                width="800" height="800">
        </iframe>
    </div>
</div>

